@model MyAspProject.Models.UserProductViewModel

@{
    ViewBag.Title = "אודות";
    ViewBag.header = "אודותינו";
}

<p>
    מתי בפעם האחרונה התרחקתם מהשגרה, פגשתם תרבות אחרת, הסתכלתם לה בעיניים וחזרתם עם מבט אחר על החיים?
    איטאלו קאלווינו, הסופר האיטלקי, כותב בספרו “הערים הסמויות מן העין”: אין אתה מתענג על שבע או שבעים ושבע פליאותיה של עיר, אלא על התשובה שעיר זו משיבה לשאלה שלך – או על השאלה שהעיר הזו שואלת אותך ומכריחה אותך לענות עליה”.

    לחברה הגיאוגרפית מסורת ארוכת שנים של הובלת מטיילים ליעדים שונים ומיוחדים הפזורים על פני כל יבשות תבל, פריצת דרך ליעדים חדשים ומסלולי טיולים בלתי מתויירים, ונסיון בתפעול פרויקטים רחבי היקף בתחום התיירות כמו “מלכת המדבר” ו”איסוזו צ’אלנג'”.

    אנו לא רק מטיילים ליעדים שלנו, אלא רואים עצמנו שגרירי תרבות וגשר בין העולמות.
    אנו מאמינים כי מפגש עם תרבויות אחרות, בורא עבורנו עולמות, חושף את הנסתר ומאיר את הבלתי נודע.
    כל יעד שתבחרו הוא מסע אמיתי והזמנה לגעת, לחוות ולהיוולד מחדש בעולם אחר.
    בטיולים שלנו אנו לוקחים אתכם אל התרבות וההוויה המקומית, הכי קרוב שנוכל, הכי רחוק שתאפשרו לנו.
    ואז, כמו קאלווינו יתעוררו בכם שאלות, תהיות ומחשבות, שילוו אתכם מעבר לגבולות הטיול.

    כשתחזרו, תבינו.
</p>
<p>
    בראש ובראשונה בזכות המדריכים
    המדריכים שלנו הם תמיד המובילים והאיכותיים ביותר בתחומם.
    כל המדריכים שלנו מכירים את ארצות היעד אותם הם מדריכים לעומק ולרוחב.
    חשוב לבדוק מי המדריך, מה השכלתו, מה ניסיונו בהדרכה, מה רמת ההיכרות שלו עם ארץ היעד. אנחנו כבר בחרנו עבורכם את הכי טובים שיש.

    בזכות הקבוצות הקטנות
    בטיולים שלנו אנחנו מקפידים על קבוצות מטיילים קטנות ואיכותיות.
    בגיאוגרפית השכלנו להבין מזמן שקבוצה קטנה מאפשרת יצירת חוויה גדולה הרבה יותר.

    בזכות החוויה התרבותית
    בטיולים שלנו אנחנו מקפידים לחבר את המטייל לתרבות “האחרת”, בכל טיול נשלב פעילויות מיוחדות פחות מתוירות, על מנת שנחווה ונרגיש את התרבות באופן בלתי אמצעי ואותנטי ככל הניתן.

    בזכות רמת בתי המלון
    מיקום המלונות הוא גורם מכריע בבחירת בית המלון, לעיתים יש לבחור את המלון על פי מיקומו והשתלבותו במסלול הטיול דבר החוסך זמן יקר, ונותן תמורה טובה יותר.
    כמובן, שלא פחות חשוב לנו שתהיו מרוצים מרמת בתי המלון ואיכותם. אנחנו כבר בחרנו את בתי המלון עבורכם.

    בזכות האתרים
    אנחנו מגיעים לטייל במירב האתרים. ישנם אתרים שאינם מופיעים בתוכנית הטיול אך כלולים בלוחות הזמנים של הטיול בפועל. אנחנו עושים כל שביכולתנו לנצל את הזמן העומד לרשות הנוסעים בכל יעד ולמעט בזמן לא מנוצל – “זמן חופשי”.

    מכיוון שאצלנו אין “הפתעות”
    בטיולי החברה הגיאוגרפית אין “סיורי בחירה” (Optionals). לא יוצעו לכם סיורים ו/או פעילויות שלא נכללו בתוכנית המקורית. בטיולים שלנו כל הפעילויות מתוכננות ומתוקצבות מראש ואין הפתעות.

    בזכותכם!
    קהל מטיילים סקרן ומשכיל, המעוניין ללמוד ולהכיר באופן מעמיק את היעד אליו בחר לנסוע, עושה את כל ההבדל. לקוחותינו לאורך השנים תמיד צמאים להכיר תרבויות חדשות, ללמוד מידע מעניין ולחוות חוויות שונות ומגוונות בכל מקום אליו הם מגיעים סביב הגלובוס.
</p>
<p>
    והכי חשוב לזכור כי התנאי האמיתי לטיול גיאוגרפי מעולה, הוא לא רק חברה ותיקה ובעלת נסיון, לא רק מדריכים מעולים בעלי ידע מקיף ומעמיק, וגם לא רק תיפעול מיקצועי ברמה הגבוהה ביותר של מרכיבי הטיול –התנאי האמיתי ליצירת טיול מעולה, הוא השילוב המנצח בין כל הגורמים האלו. וזה מה שעושה את ההבדל!
</p>
